<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <h1>Log in to your account <%= first_name %> <%= last_name %>,</h1>
    <p>
        We’d be happy to help you log in to your account. Please click the button below to log in.,<br>
    </p>
    <p>
        <a href="https://tinder.com/" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">Log In</a>
    </p>
</body>
</html>
