<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <!-- <a href="https://tinder.com/"> -->
    <img  src="./assets/Frame.png" alt="Tinder Logo"     style="height: 20%; width:20%; borderRadius: 50%; ">
    </a>
    <h1>No Account Found <%= first_name %> <%= last_name %></h1>
    <p>
        Somebody tried to access a Tinder account with this email address, but we couldn’t find an account linked to this address. If you made this request, we recommend you go to tinder.com to try again. From there you can log in with Facebook or a phone number, or try another email address..,<br>
    </p>
    <p>
        <a href="https://tinder.com/" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">GO-To Tinder.Com</a>
    </p>
</body>
</html>
